
  /*--------------------------------------------------------------
  # Features
  --------------------------------------------------------------*/
  .features {
    padding-top: 0px;
  }
  
  .features .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    transition: 0.3s;
    border: 1px solid #eef0ef;
  }
  
  .features .icon-box i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
  }
  
  .features .icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
  }
  
  .features .icon-box h3 a {
    color: #37423b;
    transition: 0.3s;
  }
  
  .features .icon-box:hover {
    border-color: #5fcf80;
  }
  
  .features .icon-box:hover h3 a {
    color: #5fcf80;
  }
  
  /*--------------------------------------------------------------
  # Courses
  --------------------------------------------------------------*/
  .courses .course-item {
    border-radius: 5px;
    border: 1px solid #eef0ef;
  }
  
  .courses .course-content {
    padding: 15px;
  }
  
  .courses .course-content h3 {
    font-weight: 700;
    font-size: 20px;
  }
  
  .courses .course-content h3 a {
    color: #37423b;
    transition: 0.3s;
  }
  
  .courses .course-content h3 a:hover {
    color: #5fcf80;
  }
  
  .courses .course-content p {
    font-size: 14px;
    color: #777777;
  }
  
  .courses .course-content h4 {
    font-size: 14px;
    background: #5fcf80;
    padding: 7px 14px;
    color: #fff;
    margin: 0;
  }
  
  .courses .course-content .price {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: #37423b;
  }
  
  .courses .trainer {
    padding-top: 15px;
    border-top: 1px solid #eef0ef;
  }
  
  .courses .trainer .trainer-profile img {
    max-width: 50px;
    border-radius: 50px;
  }
  
  .courses .trainer .trainer-profile span {
    padding-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #5a6c60;
  }
  
  .courses .trainer .trainer-rank {
    font-size: 18px;
    color: #657a6d;
  }
  
  /*--------------------------------------------------------------
  # Trainers
  --------------------------------------------------------------*/
  .trainers .member {
    text-align: center;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #eef0ef;
  }
  
  .trainers .member img {
    margin: -1px -1px 30px -1px;
  }
  
  .trainers .member .member-content {
    padding: 0 20px 30px 20px;
  }
  
  .trainers .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }
  
  .trainers .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  
  .trainers .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
  }
  
  .trainers .member .social {
    margin-top: 15px;
  }
  
  .trainers .member .social a {
    color: #7e9486;
    transition: 0.3s;
  }
  
  .trainers .member .social a:hover {
    color: #5fcf80;
  }
  
  .trainers .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  
  /* Display picture */
  .display-picture {
    width: 100%;
  }
  
  
  
  /*--------------------------------------------------------------
  # Testimonials
  --------------------------------------------------------------*/
  .testimonials .testimonial-wrap {
    padding-left: 50px;
  }
  
  .testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px 30px 30px 60px;
    margin: 30px 15px;
    min-height: 200px;
    border: 1px solid #eef0ef;
    position: relative;
    background: #fff;
  }
  
  .testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 10px;
    border: 6px solid #fff;
    position: absolute;
    left: -45px;
  }
  
  .testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
  }
  
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
  }
  
  .testimonials .testimonial-item .quote-icon-left,
  .testimonials .testimonial-item .quote-icon-right {
    color: #c1ecce;
    font-size: 26px;
  }
  
  .testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  
  .testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
  }
  
  .testimonials .testimonial-item p {
    font-style: italic;
    margin: 15px auto 15px auto;
  }
  
  .testimonials .owl-nav,
  .testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
  }
  
  .testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
  }
  
  .testimonials .owl-dot.active {
    background-color: #5fcf80 !important;
  }
  
  @media (max-width: 767px) {
    .testimonials .testimonial-wrap {
      padding-left: 0;
    }
    .testimonials .testimonial-item {
      padding: 30px;
      margin: 15px;
    }
    .testimonials .testimonial-item .testimonial-img {
      position: static;
      left: auto;
    }
  }
  
  /*--------------------------------------------------------------
  # Cource Details
  --------------------------------------------------------------*/
  .course-details h3 {
    font-size: 24px;
    margin: 30px 0 15px 0;
    font-weight: 700;
    position: relative;
    padding-bottom: 10px;
  }
  
  .course-details h3:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: #eef0ef;
    bottom: 0;
    left: 0;
  }
  
  .course-details h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 1px;
    background: #5fcf80;
    bottom: 0;
    left: 0;
  }
  
  .course-details .course-info {
    background: #f6f7f6;
    padding: 10px 15px;
    margin-bottom: 15px;
  }
  
  .course-details .course-info h5 {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .course-details .course-info p {
    margin: 0;
    font-weight: 600;
  }
  
  .course-details .course-info a {
    color: #657a6d;
  }
  
  /*--------------------------------------------------------------
  # Cource Details Tabs
  --------------------------------------------------------------*/
  .cource-details-tabs {
    overflow: hidden;
    padding-top: 0;
  }
  
  .cource-details-tabs .nav-tabs {
    border: 0;
  }
  
  .cource-details-tabs .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #37423b;
    border-radius: 0;
    border-right: 2px solid #e2e7e4;
    font-weight: 600;
    font-size: 15px;
  }
  
  .cource-details-tabs .nav-link:hover {
    color: #5fcf80;
  }
  
  .cource-details-tabs .nav-link.active {
    color: #5fcf80;
    border-color: #5fcf80;
  }
  
  .cource-details-tabs .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
  }
  
  .cource-details-tabs .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #37423b;
  }
  
  .cource-details-tabs .details p {
    color: #777777;
  }
  
  .cource-details-tabs .details p:last-child {
    margin-bottom: 0;
  }
  
  @media (max-width: 992px) {
    .cource-details-tabs .nav-link {
      border: 0;
      padding: 15px;
    }
    .cource-details-tabs .nav-link.active {
      color: #fff;
      background: #5fcf80;
    }
  }
  
  /*--------------------------------------------------------------
  # Events
  --------------------------------------------------------------*/
  
  .events {
    margin-top: 20vh;
  }
  
  .events .card {
    border: 0;
    padding: 0 20px;
    margin-bottom: 60px;
    position: relative;
  }
  
  .events .card-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
  }
  
  .events .card-img img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .events .card-body {
    z-index: 10;
    background: #fff;
    border: 4px solid #003d99;
    padding: 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    transition: 0.3s;
  }
  
  .events .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .events .card-title a {
    color: #37423b;
    transition: 0.3s;
  }
  
  .events .card-text {
    color: #5e5e5e;
  }
  
  .events .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
  }
  
  .events .read-more a:hover {
    color: #5fcf80;
  }
  
  /* .events .card:hover img {
    transform: scale(1.1);
  } */
  
  .events .card:hover .card-body {
    border-color: #0066ff;
  }
  
  .events .card:hover .card-body .card-title a {
    color: #5fcf80;
  }
  
  .event-file-options {
    display: flex;
    justify-content: space-evenly;
  }
  
  /*--------------------------------------------------------------
  # Pricing
  --------------------------------------------------------------*/
  .pricing .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    border: 1px solid #003380;
    border-radius: 0;
    position: relative;
    overflow: hidden;
  }
  
  .pricing h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #777777;
    background: #f8f8f8;
  }
  
  .pricing h4 {
    font-size: 36px;
    color: #5fcf80;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }
  
  .pricing h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
  
  .pricing h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }
  
  .pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
  
  .pricing ul li {
    padding-bottom: 16px;
  }
  
  .pricing ul i {
    color: #003380;
    font-size: 18px;
    padding-right: 4px;
  }
  
  .pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
  }
  
  .pricing .btn-wrap {
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
    text-align: center;
  }
  
  .pricing .btn-buy {
    background: #003380;
    display: inline-block;
    padding: 8px 35px;
    border-radius: 50px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .pricing .btn-buy:hover {
    background: #3ac162;
  }
  
  .pricing .featured h3 {
    color: #fff;
    background: #003380;
  }
  
  .pricing .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #1a75ff;
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
  .contact {
    padding-top: 5px;
  }
  
  .contact .info {
    width: 100%;
    background: #fff;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #003380;
    float: left;
    width: 44px;
    height: 44px;
    background: #ecf9f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37423b;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #657a6d;
  }
  
  .contact .info .email,
  .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #003380;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    background: #fff;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #003d99;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type="submit"] {
    background: #003d99;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #003d99;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  