.cardo {
    position: relative;
    margin: auto;
    width: 750px;
    height: 450px;
    border-radius: 30px;
    padding: 40px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
               
  }

  .btn {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 150px;
    padding: 7px;
    margin-left: 33%;
  }
    .btn span {         
      position: relative;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0; left: 0;
      width: 100%;
      padding: 15px 25px;
      transition: 0.3s;
    }
    :active, :hover, :focus {
        outline: 0!important;
        outline-offset: 0;
      }
      ::before,
      ::after {
        position: absolute;
        content: "";
        
        
      }
    /--- btn-3 ---/
.btn-3 {
  padding: 5px;
}
.btn-3 span:hover{background-color: rgb(40, 91, 244);}
.btn-3 span {
  color: rgb(255, 255, 255);
  background-color:royalblue;
}

.btn-3::before,
.btn-3::after {
  background: transparent;
  z-index: 2;
}
  /* 13. hover-border-3 */
.btn.hover-border-3::before,
.btn.hover-border-3::after {
  width: 0%; height: 0%;
  opacity: 0;
  transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
}
.btn.hover-border-3::before {
  top: 0; right: 0;
  border-top: 1px solid rgb(28, 31, 30);
  border-left: 1px solid rgb(28, 31, 30);
}
.btn.hover-border-3::after {
  bottom: 0; left: 0;
  border-bottom: 1px solid rgb(28, 31, 30);
  border-right: 1px solid rgb(28, 31, 30);
}
.btn.hover-border-3:hover::before,
.btn.hover-border-3:hover::after {
  width: 100%; height:100%;
  opacity: 1;
  
  transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;   
}

.recent {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-size: 72px;
    background: -webkit-linear-gradient(#c33764, #1d2671);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .book {
    position: relative;
    margin: auto;
    border-radius: 10px;
    width: 700px;
    height: 600px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
  }


  @media only screen  and (max-width : 600px)
  {
    
  .butt {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
    color: white;
    background-color: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: block;
    
  }
  .book {
    position: relative;
    margin: auto;
    border-radius: 10px;
    width: 50vh;
    height: 50vh;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    margin: auto;
    overflow:scroll;

}


  .covered {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .bookpara {
    position:relative;
    top: 5px;
    padding: 50px;
    font-size: 5px;
    margin: -30px;

  }
  .butt {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:200;
    color: white;
    background-color: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: block;
  }
  
  }
  
  .covered {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .book:hover .covered {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  
  .bookpara {
    position: absolute;
    top: 5px;
    font-size: 20px;
    font-weight: bolder;
  }



  .butt {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
    color: white;
    background-color: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: block;
  }
  
  .butt span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-0%, -0%);
    height: 30px;
    width: 30px;
    background-color: #0ced8ff1;
    border-radius: 50%;
    transition: .6s ease;
  }
  
  .butt span:nth-child(6) {
    position: relative;
  }
  
  .butt span:nth-child(1) {
    transform: translate(-10.0em, -10em);
  }
  
  .butt span:nth-child(2) {
    transform: translate(-6em, 11.3em);
  }
  
  .butt span:nth-child(3) {
    transform: translate(-6em, 1.8em);
  }
  
  .butt span:nth-child(4) {
    transform: translate(9.5em, 7.4em);
  }
  
  .butt span:nth-child(5) {
    transform: translate(-7.5em, -3.8em);
  }
  
  .butt:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(20);
    transition: 2s ease;
  }
    

  