@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');



.btm {
  --color: rebeccapurple;
  --color-hover: #6c3a9f;
  --color-active: #a34;
  position: absolute;
  top: 93%;
  left: 30%;
  transform: translate(-50%, -50%);
  border: 1px solid #0000;
  width: 100px;
  height: 20px;
  font-size: 1.1em;
  font-family: 'Fira Sans', Roboto, Helvetica, sans-serif;
  transition: clip-path 0.25s, background 0.33s;
  background: var(--color);
  color: #fff;
  box-shadow: 0 0 0 16px var(--color-hover);
  clip-path: path("M0,0 C 25,0 225,0 250,0 250,25 250,55 250,80 225,80 25,80 0,80 0,55 0,25 0,0");
}

/* Firefox doesn't support nesting, so this goes outside for now */
button:hover {
  background: var(--color-hover);
  clip-path: path("M0,0 C 25,-10 225,-10 250,0 260,25 260,55 250,80 225,90 25,90 0,80 -10,55 -10,25 0,0");
}

button:active {
  background: var(--color-active);
  clip-path: path("M0,0 C 25,10 225,10 250,0 240,25 240,55 250,80 225,70 25,70 0,80 10,55 10,25 0,0");
}
